@if (!string.IsNullOrEmpty(YouTubeVideoLink))
{
    <div class="iframe-parent">
        <!-- YouTube embed / iframe with Blazor causes some exception in VS. Hoping this will get patched. -->
        <!-- "https://www.youtube-nocookie.com/embed/Wpllj0cPkjw?autoplay=1" -->
        <iframe id="player" frameborder="0" allowfullscreen="" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" src="@YouTubeVideoLink">
        </iframe>
    </div>
}

@code {
    [Parameter] public string YouTubeVideoLink { get; set; } = string.Empty;
}

<style>
    .iframe-parent {
        height: 80vh;
    }

    .iframe-parent iframe {
        position: absolute;
    }
</style>
